xml/repos.rnc

start = element repos {
  element repo {
    attribute id {xsd:integer},                # SMT ID of the repository
    attribute name {xsd:string},               # repository's Unix name
    attribute target {xsd:string},             # repository's target product
    attribute mirrored {xsd:integer|""}        # time stamp of the last successful mirror
                                               # (empty if not mirrored yet)
  }*
}
